div.confirm-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

div.confirm-dialog-content {
  width: auto;
  background: white;
  // padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
div.content__dialog{
  width: auto;
  padding: 32px 24px;
}
div.actions {
  width: auto;
  padding: 16px;
  border-top: 1px solid #ccc;
}

button {
  margin: 0 10px;
  padding: 16px 40px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn-cancel {
  background-color: #ccc;
  color: $bg-secondary;
}

.btn-confirm {
  background-color: $color-yellow;
  color: $bg-secondary;
}
