$font: 'Open Sans', sans-serif;
$bg-primary: #f3f3f9;
$bg-white:#fff;
$bg-secondary:#010025;
$color-brown:#a6a7aa;
$color-primary:#5d6373;
$color-secondary:#898989;
$color-black:#1d1d1d;
$color-yellow:#ffee00;
$color-blue-dark:#1d1d1d;
